{% extends "../layout.html" %}

{% block content %}
    <section class="page-campaigns row">
        <div class="columns">
            <div class="row">
                <div class="large-10 medium-10 large-centered medium-centered columns">
                    {% if campaign %}
                        <div class="chart-heading text-center">Edit the &ldquo;{{ campaign.name }}&rdquo; Campaign</div>
                    {% else %}
                        <div class="chart-heading text-center">Create a Campaign</div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="large-8 medium-8 large-centered medium-centered columns">
                    <form action="/admin/campaigns/create" method="post">
                        <div class="row slug">
                            <div class="columns">
                                <label for="slug">Campaign Slug</label>
                                <input type="text" name="slug" value="{{ campaign.slug }}" required />
                            </div>
                        </div>

                        <div class="row name">
                            <div class="columns">
                                <label for="name">Campaign Name</label>
                                <input type="text" name="name" value="{{ campaign.name }}" required />
                            </div>
                        </div>

                        <div class="row goal">
                            <div class="columns">
                                <label for="amount">Campaign Goal</label>
                                <input type="text" name="amount" value="{{ campaign.goal }}" required />
                            </div>
                        </div>

                        <div class="row template">
                            <div class="columns">
                                <label for="template">Email Template</label>
                                <textarea name="template" required>{{ campaign.template }}</textarea>
                            </div>
                        </div>

                        <div class="row submit">
                            <div class="columns">
                                <input type="submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
