{% extends "../layout.html" %}

{% block content %}
    <section class="page-campaigns row">
        <div class="columns">
            <div class="row">
                <div class="large-10 medium-10 large-centered medium-centered columns">
                    {% if campaign %}
                        <div class="chart-heading text-center">Edit the &ldquo;{{ campaign.name }}&rdquo; Campaign</div>
                    {% else %}
                        <div class="chart-heading text-center">Create a Campaign</div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="large-8 medium-8 large-centered medium-centered columns">
                    <form method="post" id="form-campaign">
                        <div class="row slug">
                            <div class="columns">
                                <label for="slug">Campaign Slug</label>
                                <input type="text" name="slug" id="field-slug" value="{% if campaign.slug %}{{ campaign.slug }}{% endif %}" maxlength="15" pattern="[a-zA-Z0-9]+" required />
                            </div>
                        </div>

                        <div class="row name">
                            <div class="columns">
                                <label for="name">Campaign Name</label>
                                <input type="text" name="name" id="field-name" value="{% if campaign.name %}{{ campaign.name }}{% endif %}" required />
                            </div>
                        </div>

                        <div class="row goal">
                            <div class="columns">
                                <label for="goal">Campaign Goal</label>
                                <input type="text" name="goal" id="field-goal" value="{% if campaign.goal %}{{ campaign.goal }}{% endif %}" />
                            </div>
                        </div>

                        <div class="row goalPeriod">
                            <div class="columns">
                                <label for="goalPeriod">Campaign Goal Period</label>

                                <div class="radios">
                                    <label>
                                        <input type="radio" name="goalPeriod" value="monthly" checked="checked" /> <span>Monthly</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="goalPeriod" value="overall" /> <span>Overall</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row image">
                            <div class="columns">
                                <label for="image">Campaign Image (URL to Image)</label>
                                <input type="text" name="image" id="field-image" value="{% if campaign.image %}{{ campaign.image }}{% endif %}" parsley-type="urlstrict" required />
                            </div>
                        </div>

                        <div class="row emailSubject">
                            <div class="columns">
                                <label for="emailSubject">Email Subject</label>
                                <input type="text" name="emailSubject" id="field-emailSubject" value="{% if campaign.emailSubject %}{{ campaign.emailSubject }}{% endif %}" required />
                            </div>
                        </div>

                        <div class="row emailTemplate">
                            <div class="columns">
                                <label for="emailTemplate">Email Template</label>
                                <p class="description">Compose an email using HTML and the following tags - [[name]], [[amount]], [[campaign]], and [[date]].</p>

                                <textarea name="emailTemplate" id="field-emailTemplate" parsley-contains="[[name]], [[amount]], [[campaign]], [[date]]" parsley-maxlength="2048" parsley-error-message="Template must contain all of the available tags" required>{% if campaign.emailTemplate %}{{ campaign.emailTemplate }}{% endif %}</textarea>
                            </div>
                        </div>

                        <div class="row submit">
                            <div class="columns">
                                <input type="submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
