{% extends "../layout.html" %}

{% block content %}
    <script>
        donations = JSON.parse('{{ donationsString }}');
    </script>

    <section class="page-index row">
        <div class="columns">
            <div class="row">
                <div class="large-10 medium-10 large-centered medium-centered columns">
                    <div class="chart-heading text-center">Overall Fundraising</div>

                    <div class="tabs text-center">
                        <span class="active"><a href="#charts-weekly">Weekly</a></span>
                        <span><a href="#charts-monthly">Monthly</a></span>
                        <span><a href="#charts-annual">Annual</a></span>
                    </div>

                    <div class="tabs-content">
                        <div class="content active" id="charts-weekly">
                            <canvas class="chart" id="donations-week" width="830" height="300"></canvas>

                            <div class="row details">
                                <div class="large-4 medium-4 columns blurb">
                                    <div class="text-center">
                                        <strong>Total Raised:</strong>

                                        <div class="point" id="weekly-total">??</div>
                                    </div>
                                </div>
                                <div class="large-4 medium-4 columns blurb">
                                    <div class="text-center">
                                        <strong>Total Donors:</strong>

                                        <div class="point" id="weekly-donations">??</div>
                                    </div>
                                </div>
                                <div class="large-4 medium-4 columns blurb">
                                    <div class="text-center">
                                        <strong>Top Campaigns:</strong>

                                        <ol>
                                            <li>Missionary 1</li>
                                            <li>Water for Kenya</li>
                                            <li>Missionary 6</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content" id="charts-monthly">
                            <canvas class="chart" id="donations-month" width="830" height="300"></canvas>

                            <div class="row details">
                                <div class="large-4 medium-4 columns blurb">
                                    <div class="text-center">
                                        <strong>Total Raised:</strong>

                                        <div class="point" id="monthly-total">??</div>
                                    </div>
                                </div>
                                <div class="large-4 medium-4 columns blurb">
                                    <div class="text-center">
                                        <strong>Total Donors:</strong>

                                        <div class="point" id="monthly-donations">??</div>
                                    </div>
                                </div>
                                <div class="large-4 medium-4 columns blurb">
                                    <div class="text-center">
                                        <strong>Top Campaigns:</strong>

                                        <ol>
                                            <li>Missionary 1</li>
                                            <li>Water for Kenya</li>
                                            <li>Missionary 6</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content" id="charts-annual">
                            <canvas class="chart" id="donations-annual" width="830" height="300"></canvas>

                            <div class="row details">
                                <div class="large-4 medium-4 columns blurb">
                                    <div class="text-center">
                                        <strong>Total Raised:</strong>

                                        <div class="point" id="annual-total">??</div>
                                    </div>
                                </div>
                                <div class="large-4 medium-4 columns blurb">
                                    <div class="text-center">
                                        <strong>Total Donors:</strong>

                                        <div class="point" id="annual-donations">??</div>
                                    </div>
                                </div>
                                <div class="large-4 medium-4 columns blurb">
                                    <div class="text-center">
                                        <strong>Top Campaigns:</strong>

                                        <ol>
                                            <li>Missionary 1</li>
                                            <li>Water for Kenya</li>
                                            <li>Missionary 6</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
