{% extends "../layout.html" %}

{% block content %}
    <section class="page-campaigns row">
        <div class="columns">
            <div class="row">
                <div class="large-10 medium-10 large-centered medium-centered columns">
                    <div class="chart-heading text-center">Fundraising Campaigns</div>

                    <div class="campaigns">
                        {% if campaigns %}
                            <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-1">
                                {% for campaign in campaigns %}
                                    <li><a href="/admin/campaigns/{{ campaign.slug }}">{{ campaign.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            There are no campaigns - create one!
                        {% endif %}
                    </div>

                    <div class="options">
                        <a class="button" href="/admin/campaigns/create">Create a Campaign</a>
                        <a class="button" href="#">View Archived Campaigns</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
