{% extends "../layout.html" %}

{% block content %}
    <section class="page-welcome row">
        <div class="large-6 medium-6 large-centered medium-centered columns text-center">
            <h3>Welcome to Illuminate Nations <br /> Contribution Management</h3>

            <div class="actions">
                <div class="flash">{{ flash }}</div>

                <a href="/admin/login" class="button">Login with Google <i class="ss-lock"></i></a>
            </div>
        </div>
    </section>
{% endblock %}
