{% extends "../layout.html" %}

{% block content %}
    <section class="page-report row">
        <div class="columns">
            <div class="row">
                <div class="large-10 medium-10 large-centered medium-centered columns">
                    <div class="chart-heading text-center">Report: {{ name }}</div>
                </div>
            </div>
            <div class="row">
                <div class="columns">
                    <table class="report">
                        <tr class="header">
                            {% for col in data|first %}
                                <td>
                                    {{ loop.key }}
                                </td>
                            {% endfor %}
                        </tr>
                        {% for row in data %}
                            <tr class="data row-{{ loop-index }}">
                                {% for col in row %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="columns">
                    <div class="actions">
                        <a href="/admin/reports/" class="button"><i class="ss-navigateleft"></i> Return to Reports</a>
                        <a href="download" class="button">Download this Report <i class="ss-downloadcloud"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
