{% extends "../layout.html" %}

{% block content %}
    <section class="page-campaigns row">
        <div class="columns">
            <div class="row">
                <div class="large-10 medium-10 large-centered medium-centered columns">
                    <div class="chart-heading text-center">{{ campaign.name }} Campaign</div>

                    <div class="campaign">

                    </div>

                    <div class="actions">
                        <a href="/admin/campaigns/" class="button"><i class="ss-navigateleft"></i> Return to Campaigns</a>
                        <a href="/admin/campaigns/{{ campaign.slug }}/edit" class="button">Edit this Campaign <i class="ss-navigateright"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
