{% extends "../layout.html" %}

{% block content %}
    <div class="row page-report">
        <div class="col-sm-12">

            {% if subcampaigns %}
                <div class="report-section">
                    <h3>Subcampaign Totals</h3>
                    <ul class="subcampaigns">
                        {% for sub in subcampaigns %}
                            <li class="subcampaign">
                                <div class="title">{{ sub.subcampaign || "n/a" }}</div>
                                <div class="count">{{ sub.count }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="report-section">
                <h3>Donations</h3>
                <div id="react-results-table"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        React.render(
            React.createElement(Griddle, {
                showFilter: false,
                tableClassName: "table",
                useGriddleStyles: false,
                resultsPerPage: 100,
                results: {{ donations }}
            }), document.getElementById('react-results-table')
        );
    </script>
{% endblock %}
