{% extends "../layout.html" %}

{% block content %}
    <div class="row page-report">
        <div class="col-sm-10 col-sm-offset-1">
            <!--<div class="ct-chart"></div>-->

            <div class="row text-center stats">
                <div class="col-sm-4">
                    <div class="stat">
                        <div class="number">
                            {{ summaries.donors }}
                        </div>
                        <div class="label">Donors</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="stat">
                        <div class="number">
                            {{ summaries.total|amount }}
                        </div>
                        <div class="label">Total Raised</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="stat">
                        <div class="number">
                            {{ summaries.fees|amount }}
                        </div>
                        <div class="label">Transaction Fees</div>
                    </div>
                </div>
            </div>

            <div id="react-results-table"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        /*var data = {
            labels: {{ JSON.stringify( graph.labels ) }},
            series: [ {{ JSON.stringify( graph.series ) }} ]
        };

        var options = {
            width: '750px',
            height: '335px',
            showArea: true,
            showPoint: false,
            axisX: { showLabel: false, showGrid: false },
            axisY: { offset: 50, scaleMinSpace: 100, labelInterpolationFnc: function ( value ) { return "$" + value.toFixed(2) } }
        };

        new Chartist.Line( '.ct-chart', data, options );*/

        React.render(
            React.createElement(Griddle, {
                showFilter: true,
                tableClassName: "table",
                useGriddleStyles: false,
                results: {{ donations }}
            }), document.getElementById('react-results-table')
        );
    </script>
{% endblock %}
