//
// Illuminate Nations v3.0
// Copyright 2013 Illuminate Nations
// Maintained by Kyle Hotchkiss <kyle@illuminatenations.org>
//

$row-spacing: 20px; // Primarily for forms

.page-header {
	padding-bottom: 1em;
}

.page-campaigns {
	form {
		label {
			//color: $color-black;
			font-family: $font-sans;
			font-size: 14px;
			line-height: 18px;

			div.large-6 & {
				display: block;
			}
		}

        .description {
            font-family: $font-sans;
            font-style: italic;
            font-size: 12px;
            line-height: 1.6em;
            margin: 5px 10px;
        }

		label span.error,
		label.parsley-error-list,
		.gfield_description.validation_message {
			color: $color-red;
			font-size: 12px;
			font-weight: bold;
			margin-left: 10px;
		}

		.large-7, .large-5 {
			span.error {
				display: block;
				margin-left: 0;
			}
		}

		input[type=text],
		input[type=email],
		input[type=number],
		textarea {
			line-height: 40px;
			font-size: 20px;
			margin-bottom: $row-spacing;
			outline: none;
			width: 100%;

			&:focus {
				border: 1px solid $color-blue;
			}

			&.error {
				border: 1px solid $color-red;
			}
		}

		.gfield_error {
			input[type=text],
			input[type=email],
			input[type=number],
			textarea {
				border: 1px solid $color-red;
			}
		}

		textarea {
			height: 224px;
			line-height: 1.6em;
			padding: 10px;
		}

		.email-signup {
		 	margin-bottom: $row-spacing;
		}

		p.disclaimers {
			color: $color-gray;
			font-size: 12px;
			font-family: $font-sans;
			margin: $row-spacing 0;
			line-height: 19px;
			text-align: center;
		}
	}

	.payment-errors,
	.validation_error {
		color: $color-red;
		font-family: $font-sans;
		font-weight: bold;
		margin-bottom: $row-spacing;
	}
}

// Forms
form {
	input[type=text],
	input[type=email],
	input[type=number],
	input[type=password],
	textarea {
		-webkit-appearance: none;
		border: 1px solid $color-gray-medium;
		border-radius: 0;
		font-family: $font-sans;
		max-width: 100%;
		outline: none;
		padding: 0 10px;
	}

	input[type=submit] {
		background-color: $color-blue;
		background-repeat: no-repeat;
		background-position: right 12px center;
		border: 0;
		color: $color-white;
		cursor: pointer;
		display: block;
		font-family: $font-sans;
		font-size: 20px;
		line-height: 40px;
		margin: 0 auto;
		width: 200px;

		&:hover,
		&:active {
			background-color: lighten($color-blue, 10%);
		}

		&:disabled {
			background-color: $color-gray-light;
			background-image: url('../images/loading.svg');
			color: $color-gray-medium;
			cursor: auto;
		}
	}

	input[type=checkbox] {
		margin-right: 5px;
	}

    .radios {
        line-height: 40px;
        margin-bottom: 20px;

        label {
            cursor: pointer;
            margin-left: 10px;
        }

        span {
            margin-right: 10px;
            font-size: 14px;
        }

        input[type=radio]:checked ~ span {
            font-weight: bold;
        }
    }
}

// Login
.page-welcome {
    $field-width: 300px;

    h3 {
        font-weight: 300;
        line-height: 1.3em;
    }

    input[type=text],
    input[type=password] {
        display: inline-block;
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 10px;
        max-width: $field-width;
        width: 100%;
    }

    input[type=submit] {
        max-width: $field-width;
        width: 100%;
    }
}

// Campaigns
div.campaigns {
    $height: 143px;

    margin-bottom: 30px;

    li {
        .imageWrapper {
            height: $height;
            overflow: hidden;

            img {
                display: block;
            }
        }

        a {
            color: $color-black;
            display: block;
            font-family: $font-slab;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }
    }
}

// Reports
.page-report {
    table.report {
        margin: 0 auto 60px auto;

        .header {
            border-bottom: 0;
            background-color: #EEEEEE;
            font-weight: bold;
        }

        tr {
            //padding: 0 30px;
            border-bottom: 1px solid #EEEEEE
        }

        td {
            padding: 15px 20px;
        }
    }
}

.page-reports {
    li {
        line-height: 1.6em;
    }
}

// Misc
div.actions {
    margin-bottom: 30px;
}

form textarea {
    font-family: monospace;
    font-size: 12px !important;
}

.button {
    background-color: $color-blue;
    border: 0;
    color: $color-white !important;
    font-size: 14px;
    margin-right: 10px;
    padding: 10px 20px;
    text-decoration: none;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    &:hover {
        background-color: lighten($color-blue, 10%);
    }

    i {
        position: relative;
        top: 3px;
    }
}

.chart-heading {
    color: $color-gray;
    font-size: 30px;
    margin-bottom: 30px;
}

.chart {
    height: 400px;
    width: 100%;
}

.tabs {
    span {
        font-size: .8em;
        margin-right: 10px;

        a {
            color: $color-gray;
            text-decoration: none;
        }

        &.active {
            font-weight: bold;

            a {
                color: $color-black;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.details {
    padding: 60px 0;

    .blurb {
        border-right: 1px solid #EEE;

        &:last-child {
            border-right: 0;
        }
    }

    strong {
        color: $color-gray;
        display: block;
        margin-bottom: 10px;
    }

    .point {
        font-size: 50px;
        font-weight: 100;
        line-height: 75px;
    }

    ol {
        margin: 0;
        padding: 0;
    }

    li {
        font-size: 15px;
        list-style-position: inside;
        line-height: 25px;
    }
}

.page-report, .page-reports {
    a {
        color: $color-blue;
        border-bottom: 1px dotted lighten($color-blue, 10%);
        text-decoration: none;
    }
}

