//
// Illuminate Nations v3.0
// Copyright 2013 Illuminate Nations
// Maintained by Kyle Hotchkiss <kyle@illuminatenations.org>
//

.page-journal {
	.paragraph {
		padding: 60px;
	}

	p {
		color: $color-black;
		font-size: 22px;
	}

	.image {
		width: 100%;
	}
}