//
// Illuminate Nations v3.0
// Copyright 2013 Illuminate Nations
// Maintained by Kyle Hotchkiss <kyle@illuminatenations.org>
//
// Interactivity Breakpoints: Larger, going up
// Mobile Layout Breakpoints: Samller, going down
//

header {
	$height: 75px;
	$height-hover: 100px;
	$margin: 60px;

	background-image: url("../images/header-blueskies.jpg");
	background-size: cover;
	background-position: center center;
	color: $color-white;
	font-family: $font-slab;
	font-size: 20px;
	font-weight: 300;
	height: $height;
	margin-bottom: $margin / 2;
	-webkit-transition: .15s;

	@media #{$medium-up} {
		margin-bottom: $margin + ($height-hover - $height);
	}

	&:hover {
		@media #{$medium-up} {
			height: $height-hover;	
			margin-bottom: $margin;
		}
	}

	a {
		color: rgba($color-white, .85);
		text-decoration: none;
		padding: 0 5px;
		-webkit-transition: opacity .15s;

		&.active {
			border-bottom: 2px solid rgba($color-white, .85);
		}
	}

	.top {
		//text-align: center;

		ul {
			display: table;
			//margin: 0 auto !important;
			padding: 0;
			position: relative;

			&:hover {
				> li a {
					@media #{$medium-up} {
						opacity: .4;
					}
				}
			}
		}

		li {
			margin-right: 50px;

			@media #{$small-only} { 
				margin-right: 40px;
			}

			&:last-child {
				margin-right: 0;
			}

			ul {
				left: 230px;
				position: absolute;
				opacity: 0;
				text-align: left;
				padding: 0;
				-webkit-transition: .15s;
				width: 560px; // Desktop only
				z-index: 0;
			}

			&:hover {
				> a {
					@media #{$medium-up} {
						border-bottom: 1px solid rgba($color-white, .85);	
					}
				}

				> a, li a {
					opacity: 1 !important;
				}
			}

			&.sfHover {
				ul {
					//display: block;
					opacity: 1;
					z-index: 1000;
				}
			}

			&.current_page_item,
			&.current-menu-item,
			&.current_page_parent,
			&.current-post-ancestor,
			&.current-category-parent {
				> a {
					border-bottom: 1px solid rgba($color-white, .85);	
				}
			}

			&.item {
				@media #{$small-only} {
					display: none;
				}
			}

			&.toggle-nav {
				display: none;

				@media #{$small-only} { 
					display: inline-block;
				}
			}
		}
	}

	.top {
		line-height: 75px;
	}

	.logo {
		a {
			background-image: url("../images/logo-small.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			display: inline-block;
			height: 32px;
			text-indent: -9999em;
			width: 180px;

			&, &:hover {
				border-bottom: 0 !important;
			}	
		}
	}
}


// Footer 
footer {
	font-family: $font-sans;
	padding: 1.6em 0;

	p {
		color: $color-gray;
		font-size: 11px;
		margin: 0;

		a {
			color: $color-gray;
		}
	}

	span {
		display: table;
		margin: 0 auto;

		@media #{$medium-up} {
			display: inline;
		}
	}
}