body.page-login {
    background-image: url('../images/login-background.jpg');
    background-size: cover;

    .title {
        
    }

    .form {
        left: 0;
        bottom: 0;
        position: absolute;
        background-color: rgba(255,255,255,.85);
        padding: 20px 0;
        width: 100%;
    }

    input[type=text], input[type=email], input[type=password] {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        border-bottom: 2px dashed #BBBBBB;
        box-shadow: none;
        font-size: 18px;
    }
}
