.report-section {
    margin-bottom: 30px;
}

ul.subcampaigns {
    margin: 15px;;
    padding: 0;

    li.subcampaign {
        background-color: $color-indigo-light;
        color: $color-white;
        display: inline-block;
        height: 100px;
        list-display: none;
        margin-right: 15px;
        text-align: center;
        width: 200px;

        .title {
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
            margin: 15px 0 5px 0;
        }

        .count {
            font-size: 50px;
            line-height: 50px;
        }
    }
}
