//
// Illuminate Nations v3.0
// Copyright 2013 Illuminate Nations
// Maintained by Kyle Hotchkiss <kyle@illuminatenations.org>
//

.page-content {
	.aside {
		.row {
			margin-bottom: 1em;
		}

		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 10px;
		}
	}

	.body {
		@media #{$large-up} {
			padding-right: 2em;
		}

		iframe {
			display: table;
			margin: 0 auto 1.6em auto;
		}
	}

	p {
		font-size: 18px;

		@media #{$small-only} {
			font-size: 16px;
		}
	}
}

