{% macro link( title, url ) %}
    {% if url == '#' %}
        {{ title }}
    {% else %}
        {% if url == path %}
            <a href="{{ url }}" class="active">{{ title }}</a>
        {% else %}
            <a href="{{ url }}">{{ title }}</a>
        {% endif %}
    {% endif %}
{% endmacro %}

<ul>
    {% for item in menus %}
        <li>
            {{ link( item.title, item.url ) }}

            {% if item.items %}
                <ul>
                    {% for item in item.items %}
                        <li>{{ link( item.title, item.url ) }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
