{% macro link( title, url ) %}
    {% if url == '#' %}
        <div class="subtitle">{{ title }}</div>
    {% else %}
        {% if url == path %}
            <div class="active"><a href="{{ url }}" >{{ title }}</a></div>
        {% else %}
            <div><a href="{{ url }}">{{ title }}</a></div>
        {% endif %}
    {% endif %}
{% endmacro %}

<ul>
    {% for item in menus %}
        <li>
            {{ link( item.title, item.url ) }}

            {% if item.items %}
                <ul>
                    {% for item in item.items %}
                        <li>{{ link( item.title, item.url ) }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
