{% extends "layout.html" %}

{% block content %}
    <div class="row text-center">
        <div class="col-sm-12">
            <h1 style="font-weight:100;font-size:50px;line-height:60px;font-family:brandon-grotesque">
                In {{ date }}, {{ donors }} cool people <br /> donated {{ amount }} to {{ campaigns }} campaigns.<br />Awesome!
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="box red">
                <canvas class="graph" id="js-graph-donations" width="295" height="160"></canvas>
                <div class="overlay">Donations &raquo;</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box green">
                Donors &raquo;
                <div id="js-graph-donors"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box blue">
                Campaigns &raquo;
                <div id="js-graph-campaigns"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var data = {
            labels: JSON.parse("{{ donorChart }}"),
            datasets: [{
                label: "My First dataset",
                fillColor: "rgba(0,0,0,.05)",
                strokeColor: "rgba(0,0,0,0)",
                data: JSON.parse("{{ donorChart }}")
            }]
        };

        var ctx = document.getElementById("js-graph-donations").getContext("2d");

        var myLineChart = new Chart(ctx).Line(data, {
            pointDot: false,
            showScale: false,
            scaleShowLabels: false,
        });
    </script>
{% endblock %}
