		<footer>
            <div class="row">
                <div class="columns text-center">
                    <p>
                        <span>DonateServ v0.0.1</span> <span>&copy; 2013-2014 Illuminate Nations. All rights reserved.</span> <span>Proprietary and Confidential.</span>
                    </p>
                </div>
            </div>
        </footer>

		<script>jQuery(document).foundation();</script>
	</body>
</html>