<!DOCTYPE html>
<html>
	<head>
		<title>Illuminate Nations DonateServ</title>

		<script type="text/javascript" src="//use.typekit.net/mwu8mlw.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<link href="/assets/styles/donateserv.css" rel="stylesheet" />
		<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/assets/scripts/donateServ.js"></script>
	</head>
	<body>
		<header>
	        <div class="top row">
	            <div class="columns">                
	                <ul class="inline-list">
	                    <li class="logo">
	                        <a href="http://www.illuminatenations.org/">Home</a>
	                    </li>

	                    <% if ( typeof user !== "undefined" ) { %>
	                   	 	<li><a href="/admin/">Home</a></li>	                    	
	                    	<li><a href="/admin/campaigns">Campaigns</a></li>	                    	
	                    	<li><a href="/admin/reports">Reports</a></li>
	                    	<li><a href="https://www.google.com/analytics/web/?hl=en#report/conversions-ecommerce-overview/a39937936w75894693p78448211/">Analytics</a></li>
	                    	<li><a href="/admin/logout">Log out</a>
	                    <% } %>
	                </ul>
	            </div>
	        </div>
	    </header>

	