//
// Illuminate Nations v3.0
// Copyright 2013 Illuminate Nations
// Maintained by Kyle Hotchkiss <kyle@illuminatenations.org>
//

h1, h2, h3, h4 {
	font-family: $font-slab-bold;
	font-weight: 300;
	margin: 0;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

p {
	color: $color-black-off;
	line-height: 1.6em;
	margin: 0 0 1.6em 0;
}

ul, ol {
	&.inline-list {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin: 0;
			padding: 0;
		}
	}

	&.subtle-list {
		list-style: none;
	}

	li {
		line-height: 1.6em;
	}
}

blockquote {
	border-left: 5px solid $color-gray-light;
	margin: 0;
	padding: 0 2em;
}