//
// Illuminate Nations v3.0
// Copyright 2013 Illuminate Nations
// Maintained by Kyle Hotchkiss <kyle@illuminatenations.org>
//

$color-white: #FFFFFF;
$color-black: #333333;
$color-black-off: #555555;
$color-gray: #999999;
$color-gray-medium: #BBBBBB;
$color-gray-light: #EEEEEE;
$color-red: #9e3f4d; // http://www.colourlovers.com/palette/2664570/invisible
$color-blue: #4e7078;

$font-sans: "proxima-nova", "Helvetica", "Arial", sans-serif;
$font-slab: "klinic-slab";
$font-slab-bold: "klinic-slab-medium";
$font-serif: "freight-text-pro", "Georgia", serif;