//
// Illuminate Nations v3.0
// Copyright 2013 Illuminate Nations
// Maintained by Kyle Hotchkiss <kyle@illuminatenations.org>
//

@import "variables";
@import "symbolset";
@import "foundation";
@import "normalize";
@import "fonts";

html {
	height: 100%;
	min-height: 100%;

	text-rendering: optimizeLegibility;
}

body {
	background-size: cover;
	color: $color-black;
	font-family: $font-sans;
	height: 100%;
	min-height: 100%;
	position: relative;
}

header {
	$height: 75px;
	$height-hover: 100px;
	$margin: 60px;

	background-color: $color-gray-light;
	font-family: $font-slab;
	font-size: 20px;
	font-weight: 300;
	height: $height;
	margin-bottom: $margin + ($height-hover - $height);

	a {
		color: $color-black;
		text-decoration: none;
		padding: 0 5px;

		&.active {
			border-bottom: 2px solid rgba($color-black, .85);
		}
	}

	.top {
		//text-align: center;

		ul {
			margin: 0 !important;
			list-style: none;
			position: relative;
			padding: 0;
		}

		li {
			display: inline-block;
			margin-right: 50px;

			@media #{$small-only} {
				margin-right: 40px;
			}

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				> a {
					@media #{$medium-up} {
						border-bottom: 1px solid rgba($color-black, .85);
					}
				}
			}

			&.active {
				> a {
					border-bottom: 1px solid rgba($color-black, .85);
				}
			}
		}
	}

	.top {
		line-height: 75px;
	}

	.logo {
		a {
			background-image: url("../images/logo-small-black.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			display: inline-block;
			height: 32px;
			line-height: 32px;
			text-indent: -9999em;
			width: 180px;

			&, &:hover {
				border-bottom: 0 !important;
			}
		}
	}
}

// Footer
footer {
	padding: 1.6em 0;

	p {
		color: $color-gray;
		font-size: 11px;
		margin: 0;

		a {
			color: $color-gray;
		}
	}

	span {
		display: table;
		margin: 0 auto;

		@media #{$medium-up} {
			display: inline;
		}
	}
}

@import "partials/interior";
