body {
    font-family: "proxima-nova";
}

a, a:hover {
    text-decoration: none;
}

.body-sidebar {
    background-color: #444444;
    height: 100vh;
}

.navigation {
    padding: 20px;

    .logo {
        img {
            display: block;
            margin: 0 auto 20px auto;
            width: 150px;
        }
    }

    .menus {
        &, ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul {
            padding: 15px;
        }

        ul ul {
            padding-bottom: 0;
        }

        li {
            margin-bottom: 15px;
        }

        li > a {
            color: lighten(#444444, 30%);
            font-family: "brandon-grotesque";
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;

            &.active {
                color: #FFFFFF;
            }
        }

        li li {
            color: #FFFFFF;
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 10px;
            text-transform: lowercase;

            .total {
                color: lighten(#444444, 30%);
            }
        }
    }
}

.ct-chart {
    .ct-series.ct-series-a {
        .ct-line {
            stroke: #9BBCAB;
        }

        .ct-area {
            fill: #9BBCAB;
        }
    }
}

#sparkline canvas {
    height: 10px !important;
    width: 60px !important;
}

.page-report {
    .stats {
        margin: 60px 0;
    }

    .stat {
        text-align: center;

        .number {
            font-family: "brandon-grotesque";
            font-size: 45px;
            font-weight: 100;
        }

        .label {
            color: #000000;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

.body-content {
    height: 100vh;
    overflow: scroll;
}

article {
    padding: 60px 0;
}
